{% extends "index.html" %}
{% block form %}
<h2>An experiment in building Fediverse-centered applications.</h2>
<hr>
<p>The Fediverse allows for a large variety of social media providers and a space for applications which cater to them.
</p>
<h3>Objectives</h3>
<ul>
    <li>
        Reach as many Fediverse users as possible.
    </li>
    <li>
        Never require an on-site account where possible.
    </li>
    <li>
        Provide useful notification reminders.
    </li>
</ul>
<a href="https://hex.bz/@shiburizu">Contact the programmer for anything you might need! </a>
{% endblock %}